# Core Dependencies
alembic>=1.13.0
sqlalchemy>=2.0.35
psycopg[binary]>=3.2.3
geoalchemy2>=0.14.2
python-dotenv>=1.0.0

# Testing Dependencies
pytest>=8.0.0
pytest-postgresql>=5.0.0
pytest-alembic>=0.11.0
